{% extends 'base.html' %}
{% block title %} Hello, Django3! {% endblock %}
{% block content %}
    <style>
        table{
            width:700px;
            margin-top: 120px;
            border: 1px solid black;
            border-collapse: collapse;
            table-layout: fixed;
        }
        th{
            border: 1px solid black;
            padding:5px;
            /*border-collapse: collapse;*/
        }
        td{
            padding:5px;
            border: 1px solid black;
        }
        a:link{text-decoration: none}
        a:hover {color: green}

        #page {
            width:600px;
            /*border: 1px solid black;*/
            margin:0 auto;
            text-align: center;
        }

        #page li{
            width: 40px;
            margin-right:1px;
            /*border: 1px solid black;*/
        }

        #page li:hover{font-weight: bold;
        font-size:20px;
        color: red}

        #tb1 tr:hover {background: lightpink;
        }

         #tb1{text-align: center;

         }

         /*#btn{text-align: left;}*/


         td:nth-child(2) {
             table-layout: fixed;
             text-align: left;
             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;

         }

         #button {
             margin-left: 90px;
             margin-bottom: 10px;
             position:relative;
             top:20px
         }

    </style>

<div id="main">
         <h3>게시판</h3>
    <div style="margin-top:50px; margin-left:260px">
        <table id="tb1" >
            <colgroup>
                <col style="width: 10%">
                <col style="">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>


            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회</th>
            </tr>

            {#  #}
            {% for b in bds %}
            <tr>
                <td>{{ b.id }}</td>
                <td><a href="/view?bno={{ b.id }}">
                    {{ b.title }}</a></td>
{#                <td>{{ request.session.userid }}</td>#}
                <td>{{ b.member.userid }}</td>
                <td>{{ b.regdate|date:'Y-m-d' }}</td>
                <td>{{ b.views }}</td>
            </tr>
            {% endfor %}

        </table>
        <div id="button">
        <button type="button" onclick="location.href='/write'">글쓰기</button>
        </div>
        </div><br>
        <ul id="page">
                <li>이전</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>다음</li>
            </ul>
    </div>
    <script>
        {#const bditems = document.getElementsByTagName('td')#}
        {#const bdcnt={{ bds.count }}#}
        {##}
        {#for(i=bdcnt, pos=1;i>0;--i,pos=pos+5){#}
        {#    bditems[pos].innerHTML=i#}


        {#document.write(bditems.length,'<br>')#}
        {#document.write(bditems[0].innerHTML,'<br>')#}
        {#document.write(bditems[5].innerHTML,'<br>')#}
        {#document.write(bdcnt,'<br>')#}
    </script>
{% endblock %}